<div hx-target="#comments_area" hx-swap="outerHTML" class="">
    <form id="comment_form" method="POST">
        {% csrf_token %}
        {{ form.media}}
        {{ form.as_p }}
        {% if comment %}
            <button type="submit" hx-post="{% url 'mydidata:comment_update' comment.id %}"
                >
                Alterar
            </button>
            <button hx-get="{% url 'mydidata:topic_detail' comment.topic.uuid %}" type="button"
                >
                Cancelar
            </button>
        {% else %}
            <button class="btn btn-primary" id="submit_comment" type="submit" hx-post="{% url 'mydidata:comment_create' topic.id %}"
                >
                Enviar
            </button>
        {% endif %}
    </form>
</div>

{% block footer_javascript_page %}
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        debugger;
        var element = new CKEDITOR.dom.element( document.getElementById( '{{ form.body.id_for_label }}' ) );
        event.detail.parameters['{{ form.body.html_name }}'] = element.getEditor().getData();
        debugger;
    })

    const element = document.getElementById('comment_form');

    // scroll to the element
    element.scrollIntoView({ behavior: 'smooth' });
</script>

{%endblock%}