{% extends 'mydidata/base.html' %}
{% block title %}Resposta{% endblock title %}

{% block content %}
    <div id="content-container" class="container p-none">
		<div aria-label="Page navigation example" >
			<ul class="pagination" style="justify-content: space-between;">
			  <li class="page-item"><a class="page-link" href="{{question.topic.get_absolute_url}}">Voltar para o Tópico</a></li>
			  
			</ul>
  
		</div>    
		
    	{% if form.errors %}
		    {% for field in form %}
		        {% for error in field.errors %}
		            <div class="alert alert-danger">
		                <strong>{{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		        <div class="alert alert-danger">
		            <strong>{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}
		{% if request.user.is_superuser %}
			<a href="{{question.get_update_url}}">Editar Questão</a>
		{% endif %}
		{% if form.instance and form.instance.assignment_file %}
			<a href="{%url 'mydidata:detect_answer_text' form.instance.id%}"> | Detectar Texto</a>	
			<a href="{%url 'mydidata:graphic_feedback' form.instance.id%}"> | Anotar Imagem Enviada</a>	
		{% endif %}
        
		{% with answer=form.instance%}
		<h4 class="ad-mh">Resposta de: {{answer.student.first_name}}&nbsp;{{answer.student.last_name}}</h4>
			<div id="answer_form">
				{% include 'mydidata/discursive_answer_item_form.html' %}
			</div>
			{% if form.instance.id %}
				
				<a href="{% url 'mydidata:delete_answer' form.instance.id %}" class="btn btn-danger">Remover</a>
			{% endif %}

		{%endwith%}

    </div>
{% endblock content %}

{% block footer_javascript_page %}
	<script>
		$('#answer_form ul').addClass('list-group');
		$('#answer_form ul li').addClass('list-group-item');
		$("#save_next_answer").on("click", function(e){
            e.preventDefault();
			$('input[type=hidden][name=redirect_to]').val("{{next_answer_url}}")
			$('#form_feedback').submit();
            
        });
		$("#save_next_student").on("click", function(e){
		    e.preventDefault();
			$('input[type=hidden][name=redirect_to]').val("{{next_student_answer_url}}")
		    $('#form_feedback').submit();
		});
		$('input[type=radio][name=status]').change(function(e){

			switch(parseInt(this.value)){
				case 2:
					$('#id_grade').val("1.0");
					break;
				case 5:
					$('#id_grade').val("0.8");
					break;
				case 7:
					$('#id_grade').val("0.6");
					break
				case 6:
					$('#id_grade').val("0.3");
					break
				default:
					$('#id_grade').val("0.0");
					break
				

			}

		});
		
		CKEDITOR.on("instanceReady", function(event){
			CKEDITOR.instances.id_answer_text.on('paste', function(evt) {
				let should_block = "{{question.should_block_paste}}"
				if (should_block === "True"){
					evt.cancel();
					alert("Não copie e cole conteúdos!");

				}
			    
				
			});
		});
		
	</script>

{% endblock footer_javascript_page %}