{% extends 'mydidata/base.html' %}
{% block content %}

    <div id="content-container" class="container p-none">
        
        
        <div>
            <h4>Barra de Ferramentas</h4>
            <!-- <button id="markButton"> Marcar </button> -->
            <span>Cor da linha: </span>
            <input type="color" name="" id="markColor">
            <span>Espessura da Linha: </span>
            <input type="range" name="" min="1" max="20" value="1" id="markSize">
        </div>
        <br/>

        <canvas id="canvas" style= "border: 1px solid black;" width="1200" height="1900"></canvas>
        {%if user.is_superuser%}
            {% with answer=form.instance%}
            <div id="answer_form">
                {% include 'mydidata/discursive_answer_item_form.html' %}
            </div>
            {%endwith%}
        {%endif%}
    </div>

{%endblock content%}

{% block footer_javascript_page %}
	<script>
            var canvas = document.getElementById('canvas');
            canvas.width = 0.8 * window.innerWidth;
            canvas.height = 0.8* window.innerHeight;
            var context = canvas.getContext('2d');

            var image = new Image();
            image.src="{{form.instance.assignment_file.url}}";
            image.onload = function() {
                
                canvas.width = image.width;
                canvas.height = image.height;
  
                context.drawImage(image, 0, 0, canvas.width, canvas.height);
                console.log("{{form.instance.graphic_annotations}}");
                {% if form.instance.graphic_annotations %}
                    let rectangles_json =  "{{form.instance.graphic_annotations_unscaped}}";

                    let rectangles_json_unescaped = rectangles_json.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"').replace(/&#039;/g, "'");

                    context.rectangles = JSON.parse(rectangles_json_unescaped);
                {%endif%}
                selectedRect = {};
                startDrawing();
                redraw();


            };

            function startDrawing(){
                var color = document.getElementById("markColor").value;
                var size = document.getElementById("markSize").value;
                context.strokeStyle = color;
                context.lineWidth = size;
                context.beginPath();
                canvas.addEventListener('mousedown', onMouseDown);
            }
            

            // document.getElementById('markButton').addEventListener('click', startDrawing);

            function onMouseDown(event){
                startDrawing();
                var x = event.offsetX;
                var y = event.offsetY;
                context.strokeStyle = document.getElementById("markColor").value;
                context.rectStart = {x: x, y: y, color: context.strokeColor};

                canvas.addEventListener('mousemove', onMouseMove);
                canvas.addEventListener('mouseup', onMouseUp);
                context.mouseMoved = false
            }

            function onMouseMove(event){
                var x = event.offsetX;
                var y = event.offsetY;
                
                

                context.clearRect(0, 0, canvas.width, canvas.height);
                context.drawImage(image, 0, 0, canvas.width, canvas.height);

                var width = x - context.rectStart.x;
                var height = y - context.rectStart.y;

               
                context.strokeRect(context.rectStart.x, context.rectStart.y, width, height);
                context.mouseMoved = true;
            }

            function onMouseUp(event) {
                var x = event.offsetX;
                var y = event.offsetY;

                canvas.removeEventListener('mousemove', onMouseMove);
                canvas.removeEventListener('mouseup', onMouseUp);
                context.rectangles = context.rectangles || [];
                rectangle = {
                    x: context.rectStart.x,
                    y: context.rectStart.y,
                    width: x - context.rectStart.x,
                    height: y - context.rectStart.y,
                    color: document.getElementById("markColor").value,
                    lineWidth: document.getElementById("markSize").value,
                    text: ""

                };
                context.rectangles.push(rectangle);

                startX = rectangle.x;
                startY = rectangle.y;
                selectedRect = rectangle;
                if (context.mouseMoved){
                    text = prompt("Informe o texto da seleção: ");
                    if (text){
                        selectedRect.text = text;
                    }

                }
                context.mouseMoved = false
                redraw();
                
            }

            function redraw(){
                context.clearRect(0,0,canvas.width, canvas.height);
                context.drawImage(image, 0, 0, canvas.width, canvas.height);
                
                context.lineWidth = 1;

                context.rectangles.forEach(function(rect){
                    context.lineWidth = rect.lineWidth;
                    console.log(rect.color);
                    context.strokeStyle = rect.color;
                    context.setLineDash([]);
                    if (rect == selectedRect){
                        
                        context.setLineDash([6]);
                        context.strokeStyle = "blue";
                        
    
                    }
                    
                    context.strokeRect(rect.x, rect.y, rect.width, rect.height);
                    context.fillStyle = rect.color;
                    context.font = "12px Arial";
                    context.fillText(rect.text, rect.x + 10, rect.y + 20);
                    document.getElementById("id_graphic_annotations").value = JSON.stringify(context.rectangles);
                    console.log(JSON.stringify(context.rectangles));
                });


            }

            // document.getElementById("addTextBtn").addEventListener("click", function() {
            //   var text = document.getElementById("textInput").value;
            //   context.fillStyle = "black";
            //   context.font = "20px Arial";
            //   if(selectedRect){
                // context.fillText(text, startX + 10, startY + 25);
                // selectedRect.text = text;
                // redraw()
            //   } else {alert("Selecione uma marcação para adicionar o texto")}
// 
            // });
            
            canvas.addEventListener("click", function(e) {
                let rectangles = context.rectangles
                var x = e.clientX - canvas.offsetLeft;
                var y = e.clientY - canvas.offsetTop;
                for (var i = rectangles.length - 1; i >= 0; i--) {
                  if (x >= rectangles[i].x && x <= rectangles[i].x + rectangles[i].width && y >= rectangles[i].y && y <= rectangles[i].y + rectangles[i].height) {
                    selectedRect = rectangles[i];
                    
                    redraw();
                    break;
                  }
                }
              
            });

            canvas.addEventListener("dblclick", function(e) {
                let rectangles = context.rectangles
                var x = e.clientX - canvas.offsetLeft;
                var y = e.clientY - canvas.offsetTop;
                for (var i = rectangles.length - 1; i >= 0; i--) {
                  if (x >= rectangles[i].x && x <= rectangles[i].x + rectangles[i].width && y >= rectangles[i].y && y <= rectangles[i].y + rectangles[i].height) {
                    selectedRect = rectangles[i];
                    text = prompt("Edição de texto", selectedRect.text)
                    selectedRect.text = text;

                    redraw();
                    break;
                  }
                }
            
            });

		$('#answer_form ul').addClass('list-group');
		$('#answer_form ul li').addClass('list-group-item');
		$("#save_next_answer").on("click", function(e){
            e.preventDefault();
			$('input[type=hidden][name=redirect_to]').val("{{next_answer_url}}")
			$('#form_feedback').submit();
            
        });
		$("#save_next_student").on("click", function(e){
		    e.preventDefault();
			$('input[type=hidden][name=redirect_to]').val("{{next_student_answer_url}}")
		    $('#form_feedback').submit();
		});
		$('input[type=radio][name=status]').change(function(e){

			switch(parseInt(this.value)){
				case 2:
					$('#id_grade').val("1.0");
					break;
				case 5:
					$('#id_grade').val("0.8");
					break;
				case 7:
					$('#id_grade').val("0.6");
					break
				case 6:
					$('#id_grade').val("0.3");
					break
				default:
					$('#id_grade').val("0.0");
					break
				

			}

		});
		
		
	</script>

{% endblock footer_javascript_page %}