{% extends 'mydidata/base.html' %}
{% block title %}Tópicos{% endblock title %}


{% block content %}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">Turmas
                    <span class="pull-right">
                        <a href=""
                           class="btn btn-link p-r-none">+ Criar Turma</a>
                    </span>
                </h3>
                {# Account Search Form #}
            </div>
            {# List of Accounts #}
            <div class="list-group" style="margin-bottom: 1rem;">
                {% for classroom in class_list %}
                    
                        <div class="list-group-item list-group-item-action">
                            <a href="{{ classroom.get_absolute_url }}" >{{ classroom.name }}</a>
                            &nbsp
                            |
                            &nbsp
                            <a style="color: #3371b7;" href="{{ classroom.get_percentage_progress_url }}">Ver progresso(%)</a>
                            | <a href="{{ classroom.get_grades_url }}">Notas para Tópicos Fechados</a>
                        </div>
                {% endfor %}
            </div>
            {# Pagination Section #}
        </div>
    </div>
{% endblock content %}