{% extends 'mydidata/base.html' %}
{% block title %}Tópicos{% endblock title %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">Turmas
                    <span class="pull-right">
                        <a href=""
                           class="btn btn-link p-r-none">+ Criar Turma</a>
                    </span>
                </h3>
                {# Account Search Form #}
            </div>
            {# List of Accounts #}
            <ul id="al-group" class="strip-list">
                {% for classroom in class_list %}
                    <li class="al-item">
                        <a href="{{ classroom.get_absolute_url }}">{{ classroom.name }}</a>
                        &nbsp
                        |
                        &nbsp
                        <a style="color: #3371b7;" href="{{ classroom.get_percentage_progress_url }}">Ver progresso(%)</a>
                    </li>
                {% endfor %}
            </ul>
            {# Pagination Section #}
        </div>
    </div>
{% endblock content %}