{% if error_message %}<h4><strong>{{ error_message }}</strong></h4>{% endif %}
<h2 class="ad-mh">Resposta: {{answer.student.first_name}}&nbsp;{{answer.student.last_name}}</h2>
<p>{{ question.question_text | safe}}</p>



{% if answer.feedback %}
    <h3 class="gi-sh">Correções Solicitadas</h3>
    <p><font color='red'>{{ answer.feedback | safe}}</font></p>
{% endif %}



<form enctype="multipart/form-data" action="{{ action_url }}" method="post">

{% csrf_token %}
    
{{ form.media }}
{{ form.as_p }}

{%if test%}
    <input id="test" name="test"
           type="hidden"
           value="{{ test.id}}"/>
{%endif%}

<input type="submit" value="Enviar" />
</form>
{% if user.is_superuser %}
    <a href='{{ classroom.get_absolute_url }}'>Voltar para Progresso da Turma</a>
{%endif%}