{% extends 'mydidata/base.html' %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div >
            <div id="gi-container" class="ad-container2">
                <div class="gi-header">
                    <h3 class="ad-mh">Estudante:
                        <span>{{answer.student.first_name}}&nbsp{{answer.student.last_name}}</span>
                    </h3>
                </div>
                <div class="row gi-body">
                    <div class="col-md-9">
                        <h3 class="gi-sh">Questão</h3>
                        <p>{{ answer.question.question_text | safe}}</p>
                    </div>
                    
                    <div class="col-md-9">
                        <h3 class="gi-sh">Resposta</h3>
                        <p>{{ answer.answer_text | safe}}</p>
                        {%if answer.assignment_file %}
                            <a href="/media/{{ answer.assignment_file}}"> Arquivo </a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
