{% extends 'mydidata/base.html' %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div >
            <div id="gi-container" class="ad-container2">
                <div class="gi-header">
                    <h3 class="ad-mh">
                        <span>{{answer.student.username}}:&nbsp{{answer.student.first_name}}&nbsp{{answer.student.last_name}}</span>
                    </h3>
                </div>
                <div class="row gi-body">
                    <div class="col-md-9">
                        <h3 class="gi-sh">Questão</h3>
                        <p>{{ answer.question.question_text | safe}}</p>
                    </div>
                    
                    <div class="col-md-9">
                        <h3 class="gi-sh">Resposta</h3>
                        <p>{{ answer.answer_text | safe}}</p>
                        <p>{{ answer.file_link | safe }}</p>
                    </div>
                    <div class="col-md-9">
                        <h3 class="gi-sh">Correções</h3>
                        <p>{{ answer.feedback | safe}}</p>
                    </div>
                    {% if user.is_superuser %}
                        <div class="col-md-9"> <a href="{% url 'mydidata:feedback' answer.id %}"
                                                  class="p-r-none">Fornecer Feedback</a>
                    {% else %}
                        <div class="col-md-9"> <a href="{{ answer.question.get_answer_url }}"
                          class="p-r-none">Mudar Resposta</a>
                    {% endif%}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
