{% extends 'mydidata/base.html' %}

{% block content %}
{%load question_extras%}
    <div id="content-container" class="container p-none">
        <div >
            <div id="gi-container" class="ad-container2">
                <div class="gi-header">
                    <h3 class="ad-mh">Estudante:
                        <span>{{answer.student.first_name}}&nbsp{{answer.student.last_name}}</span>
                    </h3>
                </div>
                <div class="row gi-body">
                    <div class="col-md-9">
                        <h3 class="gi-sh">Questão</h3>
                        <p>{{ answer.question.question_text | safe}}</p>
                    </div>
                    
                    <div class="col-md-9">
                        <h3 class="gi-sh">Resposta</h3>
                            
                            {% for choice in answer.question.choices.all %}
                                <div class="form-group">
                                    {%if choice == answer.choice%}
                                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.choice_text | safe }}" checked = "checked">
                                        
                                    {%else%}
                                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                    {%endif%}
                                    
                                    <label class = "{%get_choice_label_class answer choice%}" for="choice{{ forloop.counter }}">{{ choice.choice_text | safe}}</label><br />
                                </div>
                            {% endfor %}
                            
                            {% if answer.test and request.user.is_superuser%}
                                <a type="button" class="btn btn-danger" href="{% url 'mydidata:delete_test_answer' answer.id %}"> Remover </a>
                            {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
