

<p>{{ question.question_text | safe}}</p>
{% if error_message %}
    <div class="alert alert-danger">
        <strong>{{ error_message }}</strong>
    </div>

{% endif %}
<h4 class="gi-sh">Marque uma das opções abaixo e clique em enviar</h4>
<form action="{% url 'mydidata:multiple_choice_answer' question.uuid %}" method="post">
{% csrf_token %}
    {% for choice in question.shuffled_choice_set %}
        <div style="display: block;width: 100%;margin-bottom: 10px;">   
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}" style="display: inline;">{{ choice.choice_text }}</label><br />
        </div>
    {% endfor %}

{%if test%}
    <input id="test" name="test"
           type="hidden"
           value="{{ test.id}}"/>
{%endif%}

<input type="submit" value="Enviar" />
</form>