{% extends 'mydidata/base.html' %}

{% block content %}
    {% load question_extras %}
    {% load answer_extras %}
    <div id="content-container" class="container p-none">
		{% if classroom %}
			<h1>{{classroom.name}}</h1>
			<p>Compartilhe esse link com seus alunos para inscrição: https://mydidata.herokuapp.com{{classroom.get_signup_link}} </p>
		{%endif%}
		
        
        
            <table id="cd-table" class="table table-hover">
                <tbody>
                    <tr>
                        <th>Aluno</th>
                        <th>Nota</th>
                        
                        {%for topic in topics %}                        
                            <th>{{topic.topic_title}}</th>
                        {%endfor%}
                    </tr>
                    {% for s in topic_dict.keys%}
                        {% get_topic_percent topic_dict s as percents%}                                            
                        <tr>
                        <td>{{s.first_name}}&nbsp{{s.last_name}}</td>
                        
                        {% for t_p in percents%}
                            {% get_topic t_p  as topic%}
                            {% get_percent t_p  as percent%}                            
                            <td>{{percent}}</td>
                        {%endfor%}
                        </tr>
                    {%endfor%}
                    
                </tbody>
            </table>
    </div>
{% endblock %}
