{% extends 'mydidata/base.html' %}

{% block content %}
    {% load question_extras %}
    {% load answer_extras %}
    {% load classroom_extras %}
    <div id="content-container" class="container p-none">
		{% if classroom %}
			<h1>{{classroom.name}}</h1>
			<p>Compartilhe esse link com seus alunos para inscrição: https://mydidata.herokuapp.com{{classroom.get_signup_link}} </p>
		{%endif%}
		,
        <ul id="al-group" class="strip-list">
            {% for topic in topics %}
            {% get_progress_url classroom topic as progress_url%}

                <li class="al-item">
                    {% get_close_url classroom topic as close_url %}
                    {% get_open_url classroom topic as open_url %}
                    {% is_topic_closed classroom topic as topic_closed %}
                    
                    {% if topic_closed%}
                        <a href="{{ progress_url }}"><h4 class="al-name">{{ topic.topic_title }} (Fechado)</h4></a> |                          
                        <a href="{{open_url}}">Abrir</a>
                    {%else%}

                        <a href="{{ progress_url }}"><h4 class="al-name">{{ topic.topic_title }}</h4></a> |                   
                        <a href="{{close_url}}">Fechar</a>
                    {%endif%}

                    
                    
                </li>
            {% endfor %}
        </ul>

            
    </div>
{% endblock %}
