{% extends 'mydidata/base.html' %}
{% block title %}Signup{% endblock title %}

{% block content %}

    <div id="content-container" class="container p-none">
        <div class="side-p">
            <form action="/mydidata/signup/{{classroom.id}}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome</label>
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome de Usuário</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
  
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  {{ form.email }}
                  {{ form.email.errors }}
                  <small id="emailHelp" class="form-text text-muted">Nós não compartilhamos endereços de email com mais ninguém.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Senha</label>
                  {{ form.password1 }}
                  {{ form.password1.errors }}
                  {{ form.password2.errors }}
                </div>

                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>

            {# Credit Card Section #}
        </div>
    </div>
{% endblock content %}