{% extends 'mydidata/base.html' %}
{% block title %}Avaliações{% endblock title %}

{% block content %}
{%load student_extras%}
{%load test_extras%}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">
                    
                    Avaliações
                    
                    
                </h3>
                {# Account Search Form #}
            </div>
            {# List of Tests #}
            <ul id="al-group" class="strip-list">
                {% for test in tests %}
                    
                    {%get_class test user as klasses%}
                        {%for klass in klasses %}
                            {% get_close_url klass test as close_url %}
                            {% get_open_url klass test as open_url %}
                            {% get_assess_url klass test as assess_url %}
                            <li class="al-item">
                            {% if user.is_superuser%}
                                {%get_progress_url klass test as progress_url%}
                                <a href="{{ progress_url }}"><h4 class="al-name">{{klass.name}}: {{ test.title }}</h4></a>
                                &nbsp                            
                                | <a href="{{ assess_url }}">Corrigir</a>
                            {%else%}
                                <a href="{{ test.get_absolute_url }}"><h4 class="al-name">{{ test.title }}</h4></a>
                            {%endif%}
                            </li>
                        {%endfor%}

                    
                {% endfor %}
            </ul>
            {# Pagination Section #}
        </div>
    </div>
{% endblock content %}