{% extends 'mydidata/base.html' %}
{% block title %}Avaliações{% endblock title %}

{% block content %}
{%load student_extras%}
{%load test_extras%}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">
                    
                    Avaliações
                    
                    
                </h3>
                {# Account Search Form #}
            </div>
            {# List of Tests #}


            {% for test in tests %}
                
                
                    
                {% get_close_url classroom test as close_url %}
                {% get_open_url classroom test as open_url %}
                {% get_assess_url classroom test as assess_url %}
                {% get_progress_url classroom test as progress_url %}

                <div class="mt-3 py-3 px-3 bg-white shadow border border-gray-100">
                    {% if user.is_superuser%}
                        <a href="{{ progress_url }}" >{{ test.title }}</a>
                        <div class="mt-2">
                            
                            {% is_closed test classroom as closed%}
                            
                            {% if closed %}
                                <a type="button" class="btn btn-primary" href="{{ open_url }}">Abrir</a>
                            {% else %}
                                <a type="button" class="btn btn-primary" href="{{ close_url }}">Fechar</a>
                            {%endif%}
                            <a type="button" class="btn btn-primary" href="{{ assess_url }}">Corrigir</a>
                        </div>
                    {% else %}
                        <a href="{{ test.get_absolute_url }}"><h4 class="al-name">{{ test.title }}</h4></a>
                    {% endif %}
                </div>

                    

                
            {% endfor %}
            {# Pagination Section #}
        </div>
    </div>
{% endblock content %}