{% extends 'mydidata/base.html' %}

{% block content %}
    {% load question_extras %}
    {% load answer_extras %}
    {% load classroom_extras %}
    {% load test_extras %}
    <div id="content-container" class="container p-none">
		{% if classroom %}
			<h1>{{classroom.name}}</h1>
		{%endif%}
        
            <h2>{{test.title}}</h2>
            
            <table id="cd-table" class="table table-hover">

                <tbody>
                    <tr>
                        <th>Aluno</th>
                        
                        {%for question in test.get_ordered_questions %}
                            <th>{{question.text_escaped}}</th>
                        {% endfor %}
                    </tr>
                    {% for student in students%}
                        {%get_test_user student_grades student as test_user%}
                        <tr>
                            <td>{{student}}</td>
                            
                            {%for question in test.get_ordered_questions %}
                                
                                {% get_answers question student test as answers%}
                                
                                {%if answers%}
                                    {%for answer in answers%}
                                        <td>
                                            
                                            {%if answer.is_sent%}
                                                 <a href="{{answer.get_detail_url}}"><i class="fa fa-paper-plane"></i></a>
                                            {%else%}
                                                {%if answer.is_ok%}
                                                 <a href="{{answer.get_detail_url}}"><i class="fa fa-check-circle"></i></span></a>
                                                
                                                 {%else%}
                                                     <a href="{{answer.get_detail_url}}"><i class="fas fa-times-circle"></i></a>
                                                 {%endif%}
                                            {%endif%}
                                        </td>
                                        
                                    {%endfor%}
                                {%else%}
                                    <td><span class="badge">?</span></a><br></td>
                                {%endif%}
                            {%endfor%}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        
            
            {%if user.is_superuser%}
                <h1>Aproveitamento</h1>
                <table id="cd-table" class="table table-hover">
                    
                    <tbody>
                        <tr>
                            <th>Aluno</th>
                            <th>Nota</th>
                        </tr>
                        {% for student, student_status in student_grades.items %}                    
                            <tr>
                            <td>{{student.first_name}}&nbsp{{student.last_name}}</td>
                            <td>{{student_status.grade}}</td>
                            </tr>
                        {%endfor%}
                        
                    </tbody>
                </table>
            {%else%}
                
                {% for student, student_status in student_grades.items %}
                    <h1>Aproveitamento: {{student_status.grade}}</h1>
                    <h2> <a href="{{test.topic.get_absolute_url}}"> Clique para retornar</a></h2>
                    <!-- {%if assessment.success %}
                        <div class="alert alert-success">
                            {{assessment.success}}
                        </div>
                    {%else%}
                        <div class="alert alert-danger" role="alert">
                            {{assessment.fail}} 
                            {%if assessment.next_try_link%}
                                Você pode tentar mais uma vez clicando <a href="{{assessment.next_try_link}}" class="alert-link">aqui!</a\>!
                            {%endif%}
                        </div>

                    {%endif%} -->
                {%endfor%}

            {%endif%}

    </div>

{% endblock %}
