{% extends 'mydidata/base.html' %}

{% block content %}
    <div id="content-container" class="container p-none">
        {# List Questions #}
        <div id="cd-container" class="ad-container">
            <div class="ad-headers">
                <h4 class="ad-mh m-none">Questões</h4>
            </div>
            <div id="cd-body" class="row">
                <table id="cd-table" class="table table-hover">
                    <tbody>
                        <tr></tr>
                        {% for question in questions %}
                            {% include 'mydidata/question_item_view.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# List Communications #}
    </div>

{% endblock %}