{% extends 'mydidata/base.html' %}
{% block title %}Tópicos{% endblock title %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">Tópicos
                    <span class="pull-right">
                        <a href="{% url 'mydidata:topic_new' %}"
                           class="btn btn-link p-r-none">+ Criar Tópico</a>
                    </span>
                </h3>
                {# Account Search Form #}
            </div>
            {# List of Accounts #}
            <ul id="al-group" class="strip-list">
                {% for topic in topics %}
                    <li class="al-item">
                        <a href="{{ topic.get_absolute_url }}"><h4 class="al-name">{{ topic.topic_title }}</h4></a>
                        
                    </li>
                {% endfor %}
            </ul>
            {# Pagination Section #}
        </div>
    </div>
{% endblock content %}