{% extends 'mydidata/base.html' %}
{% block title %}Tópicos{% endblock title %}

{% block content %}
{%load student_extras%}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">
                    {% if topics and not topics.first.is_resource%}
                        Tópicos
                    {%else%}
                        Tópicos de Reforço
                    {%endif%}
                    <span class="pull-right">
                        <a href="/mydidata/topic/{{ topics.first.discipline.uuid }}"
                           class="btn btn-link p-r-none">+ Criar Tópico</a>
                    </span>
                </h3>
                {# Account Search Form #}
            </div>
            {# List of Accounts #}
            
            <div class="list-group" style="margin-bottom: 1rem;">
                {% for topic in topics %}
                    {%if topic.enabled %}
                        <a href="{{ topic.get_absolute_url }}" class="list-group-item list-group-item-action"><strong>{{ topic.topic_title }}</strong></a>
                    {%else%}
                        <a href="{{ topic.get_absolute_url }}" class="list-group-item list-group-item-action  disabled">{{ topic.topic_title }}</a>
                    {%endif%}
                {% endfor %}

    
                {%is_on_resource_room user as is_on_resource%}
                {% if topics and not topics.first.is_resource%}
                    {%if is_on_resource %}
                        {%get_resource_room_url user as rroom_url%}
                        <a href="{{rroom_url}}"><h4 class="al-name">Reforço</h4></a>
                    {%endif%}
                {%else%}
                    <a href="{{ topics.first.discipline.get_absolute_url }}">Voltar para programa da disciplina</a>

                {%endif%}
            </div>
            {# Pagination Section #}
        </div>
    </div>
{% endblock content %}