{% extends 'mydidata/base.html' %}

{% block content %}
    <div id="content-container" class="container p-none">
        <hr class="my-3" />
        <div >
            
            {%if test_user_relation and test_user_relation.is_closed%}
                <div class="alert alert-primary" role="alert">
                    A avaliação desta etapa já foi concluída!
                    <a class="alert-link" href="{%url 'mydidata:test_progress' test_user_relation.test.uuid %}"> Clique aqui para verificar suas respostas. </a>
                </div>
            {%endif%}
            <div aria-label="Page navigation example" >
                <ul class="pagination" style="justify-content: space-between;">
                  <li class="page-item"><a class="page-link" href="{{topic.previous_url}}">Etapa Anterior</a></li>
                  <li class="page-item"><a class="page-link" href="{{topic.next_url}}">Próxima Etapa</a></li>
                </ul>
      
            </div>    
    
            <div id="gi-container" class="ad-container2">
                {% include 'mydidata/topic_item_view.html' %}
            </div>

        </div>
        {% if user.is_authenticated and question %}
            <hr class="my-3" />
            <div>
                <h4 class="ad-mh m-none"> Para certificação, selecione e envie o arquivo elaborado neste tutorial </h4>
                <form ecytpe="multipart/form-data" action="{%url 'mydidata:discursive_answer' question.uuid %}" method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <input type="submit" value="Enviar Arquivo"/>
                </form>
            </div>
        {%endif%}
        <hr class="my-3" />
        <div aria-label="Page navigation example" >
            <ul class="pagination" style="justify-content: space-between;">
              <li class="page-item"><a class="page-link" href="{{topic.previous_url}}">Etapa Anterior</a></li>
              <li class="page-item"><a class="page-link" href="{{topic.next_url}}">Próxima Etapa</a></li>
            </ul>
  
        </div>    
        
        {# List Questions #}
        {%if topic.show_questions%}

            <div id="cd-container" >
                <div class="ad-headers">
                    <h4 class="ad-mh m-none">Questões</h4>
                </div>
                <div id="cd-body" class="row">
                    <table id="cd-table" class="table">
                        <tbody>
                            <tr></tr>
                            
                            {% for question in questions %}
                                {% include 'mydidata/question_item_view.html' %}
                            {% endfor %}
                            {%if topic.test_enabled%}
                                <tr><a href="{{topic.test_enabled.get_absolute_url}}">Fazer Avaliação</a></tr>
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        {%endif%}
        {%if test_user_relation and not test_user_relation.is_closed%}
            <a class="btn btn-lg btn-primary" href="{{ test_user_relation.test.get_absolute_url }}"> Fazer Avaliação </a>
        {%endif%}


        {# List Communications #}
    </div>

{% endblock %}