{% extends 'mydidata/base.html'%}
{% block title %} Tópico {{topic.topic_title}} {% endblock title%}


{% block content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong> {{error | escape}}</strong>
                </div>
            {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
                <div>
                    <strong> {{ error | escape}}</strong>
                </div>
        {% endfor%}
    {%endif%}

    <form id="gi-form"
          
          method="post">
        {% csrf_token %}
        {{form.media}}
        {{ form.as_p }}
        <table>
            {{ form.deadline.management_form }}
            {% for form in form.deadline.forms %}
                <tr>
                    {% for field in form.visible_fields %}
                        <td>
                            {{ field.errors }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>


        <input id="gi-form-submit" class="btn btn-primary" type="submit" value="Salvar">
    </form>
{% endblock content%}