{% extends 'mydidata/base.html' %}

{% block content %}
    {% load question_extras %}
    {% load answer_extras %}
    {% load classroom_extras %}
    <div id="content-container" class="container p-none">
		{% if classroom %}
			<h1>{{classroom.name}}</h1>
			<p>Compartilhe esse link com seus alunos para inscrição: https://mydidata.herokuapp.com{{classroom.get_signup_link}} </p>
		{%endif%}
		
        {%for topic in topics %}
            {%if classroom%}
                {% get_close_url classroom topic as close_url %}
                {% get_open_url classroom topic as open_url %}
                {% is_topic_closed classroom topic as topic_closed %}
            {%endif%}

            {% if user.is_superuser and classroom%}
                {% if topic_closed%}
                    <h2>{{topic.topic_title}} (Fechado)</h2>
                    <h4><a href="{{open_url}}">Abrir</a></h4>
                {%else%}
                    <h2>{{topic.topic_title}}</h2>
                    <h4><a href="{{close_url}}">Fechar</a></h4>
                {%endif%}
                <h4><a href="/mydidata/download_answers/{{topic.uuid}}/{{classroom.id}}"> Baixar Respostas </a></h4>
            {%else%}
                <h2>{{topic.topic_title}}</h2>
            {%endif%}

            
            <table id="cd-table" class="table table-hover">
                <tbody>
                    <tr>
                        <th>Aluno</th>
                        {% for question in topic.question_set.all %}
                            <th>Question {{ forloop.counter }}</th>
                        {% endfor %}
                    </tr>
                    {% for student in students%}
                        <tr>
                            <td>{{student.first_name}}</td>
                            
                            {%for question in topic.get_ordered_questions %}
                                {% get_answers question student as answers%}
                                {%if answers%}
                                    {%for answer in answers%}
                                        <td>
                                            
                                            {%if answer.is_sent%}
                                                 <a href="{{answer.get_detail_url}}"><i class="fa fa-paper-plane"></i></a>
                                            {%else%}
                                                {%if answer.is_ok%}
                                                 <a href="{{answer.get_detail_url}}"><i class="fa fa-check-circle"></i></span></a>
                                                
                                                 {%else%}
                                                     <a href="{{answer.get_detail_url}}"><i class="fas fa-times-circle"></i></a>
                                                 {%endif%}
                                            {%endif%}
                                        </td>
                                        
                                    {%endfor%}
                                {%else%}
                                    <td><span class="badge">?</span></a><br></td>
                                {%endif%}
                            {%endfor%}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%endfor%}
    </div>
{% endblock %}
